/* 
    Document   : main
    Created on : Nov 29, 2011, 4:21:53 PM
    Author     : Dany Luevano
    Description:
        Controls all the styles for the all the pages.
*/
html,body 
{
   margin:0;
   padding:0;
   height:100%;
}
/* body {
    margin:0; 
    padding:0;
    //padding-top: 50px;
    padding-bottom: 60px;
 }*/
 #pagewidth{ 
 width:100%;
 margin:0 auto; 
 padding:0; 
 text-align:center; 
}
/* Aligns the homepage image in the center of the page with some spacing from
the top of the page*/
h2{
   text-align: center;
   
}
.border{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: solid;
    border: 1px;
}
.homepageImg {
    display: block;
    margin-right: auto;
    margin-left: auto; 
    vertical-align: bottom;  
    margin-top: 10%;
    clear: both;
    height: 450px;
}
table.home{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#header
{
 background-color: #1E4D2B;
 color: #C6930A;   
 height: 75px;
 text-decoration: none;
 border-style: none;
}
/* box used to display for the table, aligns the left column to the right*/
#box{
    -webkit-box-shadow: 10px 10px 10px 8px #000000rgba;
    -moz-box-shadow: 10px 10px 10px 8px #000000rgba;
    box-shadow: 10px 10px 10px 8px #000000;
    width:380px;
    padding:10px;
    border:0px solid gray;
    margin:0px auto; 
    border-radius:15px;
    text-align: center;
}
/*used for the table, aligns the left column to the right*/
.center_align{
    text-align: center;
}
.right_align{
    width:45%;
    text-align: right;
}
/*used for the table, aligns the left column to the right*/
.left_align{
    width:55%;
    text-align: left;
}
/*Footer to display terms of use, copyright, and contact us page*/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #FFF;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    border-style: none;
/*Creates a gradient color for the footer, which is in all the pages.*/

background-image: linear-gradient(bottom, #140F0F 16%, #756F6F 58%, #ADA3A3 85%);
background-image: -o-linear-gradient(bottom, #140F0F 16%, #756F6F 58%, #ADA3A3 85%);
background-image: -moz-linear-gradient(bottom, #140F0F 16%, #756F6F 58%, #ADA3A3 85%);
background-image: -webkit-linear-gradient(bottom, #140F0F 16%, #756F6F 58%, #ADA3A3 85%);
background-image: -ms-linear-gradient(bottom, #140F0F 16%, #756F6F 58%, #ADA3A3 85%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.16, #140F0F),
	color-stop(0.58, #756F6F),
	color-stop(0.85, #ADA3A3)
);
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

p.error
{
    text-align: center;
    color: #FF0000;
    font-size: 15px;
}