<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>sql_connection_servlet</servlet-name>
        <servlet-class>database.DBUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDB</servlet-name>
        <servlet-class>database.UserDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>business.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Education</servlet-name>
        <servlet-class>business.Education</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateDB</servlet-name>
        <servlet-class>database.StateDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EducationDB</servlet-name>
        <servlet-class>database.EducationDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoDB</servlet-name>
        <servlet-class>database.PhotoDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDB</servlet-name>
        <servlet-class>database.RequestDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendDB</servlet-name>
        <servlet-class>database.FriendDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>account.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>account.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationUtil</servlet-name>
        <servlet-class>utilities.ValidationUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>account.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>account.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sql_connection_servlet</servlet-name>
        <url-pattern>/sql_connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDB</servlet-name>
        <url-pattern>/UserDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Education</servlet-name>
        <url-pattern>/education</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateDB</servlet-name>
        <url-pattern>/StateDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EducationDB</servlet-name>
        <url-pattern>/EducationDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoDB</servlet-name>
        <url-pattern>/PhotoDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDB</servlet-name>
        <url-pattern>/RequestDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendDB</servlet-name>
        <url-pattern>/FriendDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationUtil</servlet-name>
        <url-pattern>/Validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1800
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>view/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
